
#OPENAI_API_KEY==<your key here>
OPENROUTER_API_KEY="<< your key here>>"

# OPENAI_BASE_URL=https://api.openai.com/v1
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# default model
OPENAI_MODEL=google/gemini-2.5-flash-preview
#OPENAI_MODEL="openai/gpt-4.1-nano"
